@media (max-width: 756px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
      }
      .mini-game{
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: left;
      }
.button2{
  position: absolute;
  padding: 16px 28px 16px 28px;
  height: 24px;
  right: 50px;
  font-size: 16px;
  line-height: 22.67px;
}

.for-box1{
  height: 3820px;
}

    
.heading{
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;  
}

.ioi{
    background-image: url(img/Vector1.svg);
    background-repeat: no-repeat;
    background-position: top -80px right -90px;
    background-color: rgb(225, 255, 143);
    block-size: 750px;
}

.subtitle{
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    height: 50px;
}
.head-block{
  background-image: url(img/Vector1.svg);
  background-color: rgb(225, 255, 143);
  background-repeat: no-repeat;
  background-position: calc(90% + 120px) calc(2% - 110px);

}
.star-img1{
    position: absolute;
    width: 21px;
height: 21px;
left: 111px;
}
.star-img2{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 58px;
}
.star-img3{
    position: absolute;
    width: 61px;
    right: 13px;
    top: 510px;  
}
.star-img4{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 71px;
    top: 537px;
}
  
.for-box{
    display: none;
}
.for-box1{
    height: 3820px;
}

.cart-game1 {
  background-color: #fff;
  width: 342px;
  margin-top: 36px;
  border-radius: 28px;
  height: 536px;
  }

  .cart-game2{
  background-color: #fff;
  width: 342px;
  margin-top: 36px;
  border-radius: 28px;
  height: 573px;
  }
  .cart-game3 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 545px;
    }

  .cart-game4 {
  background-color: #fff;
  width: 342px;
  margin-top: 36px;
  border-radius: 28px;
  height: 530px;
  }
  .cart-game5 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 583px;
    }
    .cart-game6 {
      background-color: #fff;
      width: 342px;
      margin-top: 36px;
      border-radius: 28px;
      height: 600px;
      }
  
  .game-img1 {
    margin-left: -1px;
    width: 343px;
    height: 283px;
  }
  .game-img2 {
    margin-left: -1px;
    width: 343px;
    height: 283px;
  }
  .title-game {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 23px;
  }
  .title-game1 {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    width: 284.93px;
    margin-bottom: 10px;
    margin-left: 23px;
  }
  
  .pol1{
    background-color: rgb(153, 204, 14);
    height: 100px;
  }

  .describe {
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
width: 275px;
margin-left: 23px;
  }
  .describe1 {
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
width: 275px;
margin-left: 23px;
  }
  .play {
    width: 234px;
    height: 30px;
    padding: 16px 28px 16px 28px;
    border-radius: 60px 60px 60px 60px;
    background-color: #202027;
    border-color: #202027;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 34.01px;
    text-align: center;
    left: 53px;
    position: absolute;
  }
  .pole {
    margin-left: 2px;
    margin-top: 40px;
  }
  
  .pole1 {
    margin-left: 2px;
    margin-top: 40px;
  }
  
  .pole3 {
  margin-left: 2px;
  margin-top: 10px;
  }

  .pole4 {
  margin-left: 2px;
  margin-top: 10px;
  }
  
  
}
